services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: chronovision-api
    volumes:
      - ./models:/app/models
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    ports:
      - "8000:8000"
    environment:
      - TEMP_DIR=temp_uploads
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.ui
    container_name: chronovision-ui
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      - API_URL=http://backend:8000/process
    restart: always
